:root {
    --main_bg: hsl(210, 66%, 3%);
}

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background: var(--main_bg);
}

#preview {
    display: grid;
    margin: 20px 6% 40px 6%;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(1, 3fr);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.40), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
}

#preview p {
    padding: 20px;
    font-size: 1.1rem;
    text-align: center;
}

main {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 30px;
    margin: 0px 6%;
}

.group {
    --size: 320px;
    width: var(--size);
    height: var(--size);
    padding-top: 20px;
    display: block;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.70), 0 6px 20px 0 rgba(0, 0, 0, 0.70);
    font-size: 2rem;
}

label {
    font-size: 1rem;
    margin: 20px;
}

input {
    font-size: 1.6rem;
    border-radius: 5px;
    color: #444;
}

input[type="text"] {
    --size: 290px;
    --margins: calc((320px - var(--size))/2);
    margin: var(--margins);
    width: var(--size);
    text-align: center;
}

#ratio {
    font-size: 1.5rem;
}

.test {
    color: #ddd;
}

.pass {
    color: forestgreen;
}

.fail {
    color: firebrick;
}

@media screen and (min-width: 820px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
    #preview p {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1200px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
    #preview p {
        font-size: 1.5rem;
    }
}