* {
  text-align: center;
  box-sizing: border-box;
}

body {
  margin: 60px 10%;
  font-size: 1.2rem;
  background: hsl(210, 16%, 8%);
}

main {
  display: grid;
  grid-gap: 30px;
}

#preview {
  grid-row: 1;
  padding: 20px;
  margin-bottom: 40px;
  grid-auto-rows: minmax(120px, auto);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

.group {
  padding-top: 20px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

input {
  color: #444;
  width: 270px;
}

input,
label {
  margin: 20px;
}

.test {
  color: #ddd;
}

.pass {
  color: forestgreen;
}

.fail {
  color: firebrick;
}

@media screen and (min-width: 800px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
  #preview {
    grid-column: 1 / 3;
    margin-bottom: 10px;
  }
  #test_group {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  .test {
    display: inline-block;
  }
  #bg_group,
  #font_group {
    grid-row: 3;
  }
}

@media screen and (min-width: 1000px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }

  #preview {
    grid-column: 1 / 4;
  }

  #bg_group {
    grid-row: 2;
    grid-column: 1;
  }
  #font_group {
    grid-row: 2;
    grid-column: 2;
  }
  #test_group {
    grid-row: 2;
    grid-column: 3;
  }
  .test {
    display: block;
  }
}
